@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes modalOn {
  from{
      transform: translateY(-150px);
      opacity: 0;
  }
  to{
      opacity: 1;
      transform: translateY(0);

  }
}

@keyframes modalOff {
  from{
      transform: translateY(0);
      opacity: 1;
  }
  to{
      opacity: 0;
      transform: translateY(-150px);

  }
}

@keyframes modalContOff {
  from{
      opacity: 1;
  }
  to{
      opacity: 0;

  }
}


.cont-modal{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;

}
.modalClose{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  height: 0;
  overflow: hidden;
  transition: all .5s;
  animation: modalContOff .5s;
}
.m-prin-close{
  animation: modalOff .5s;
}
.modalOpen{
  animation: modalOn .2s;
}

.page-container {
    @apply md:ml-64  min-h-screen ;
}


.actions{
transition: all .5s ease; 

}
.indicator{
  background-color: orange;
margin-left: 4px;
width:10px;
height:10px;
border-radius:100%;
}
.indicators{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 40;

}



.slide-text {
 position:absolute;
 color:white;
 animation: text-aniamtion 1s     ease;
 transition: all 1s;
}

@keyframes text-animation {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}

.tblur{
  backdrop-filter:blur(10px);
    background-color:#00000041;
    padding:5px 15px;
}