@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes modalOn {
  from{
      transform: translateY(-150px);
      opacity: 0;
  }
  to{
      opacity: 1;
      transform: translateY(0);

  }
}

@keyframes modalOff {
  from{
      transform: translateY(0);
      opacity: 1;
  }
  to{
      opacity: 0;
      transform: translateY(-150px);

  }
}

@keyframes modalContOff {
  from{
      opacity: 1;
  }
  to{
      opacity: 0;

  }
}


.cont-modal{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;

}
.modalClose{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  height: 0;
  overflow: hidden;
  transition: all .5s;
  animation: modalContOff .5s;
}
.m-prin-close{
  animation: modalOff .5s;
}
.modalOpen{
  animation: modalOn .2s;
}

.page-container {
    @apply md:ml-64  min-h-screen ;
}


.actions{
transition: all .5s ease; 

}
.indicator{
  background-color: orange;
margin-left: 4px;
}
.indicators{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 40;
}
